<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
	{% include "meta.twig" %}
    
    <link rel="stylesheet" href="{{alias('@web') }}/style/normal.min.css">
    <link rel="stylesheet" href="{{alias('@web') }}/style/events.min.css">
    <style>
        {% block content %}
        {% set slika = entry.slika.one %}
        .bg-img-general {
            background-image: url({{slika.url}});
            background-size: cover;
        }
		.content {
			margin-top: 0px;
		}
    </style>

</head>

<body>

    <!-- navbar -->
    <header class="bg-img-general">
        <div class="navbar navbar-parallax" id="fade-out" style="background-color:transparent!important;">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/en/">
							<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projects">Projects</a>
					<a class="link hover" href="notes">Stories & Postcards</a>
					<a class="link hover" href="events">Event Calendar</a>
					<a class="link hover" href="about">About</a>
					<lan class="nav-lan">
						<a href="{{alias('@web') }}">
							SL
						</a>
						/
						<a class="chosen" href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
    </header>

    <!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">

			<a href="projects">Projects</a>
			<a href="notes">Stories & Postcards</a>
			<a href="events">Event Calendar</a>
			<a href="about">About</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

    <!-- hamburger menu-->
    <div class="knof" id="knof" onclick="anime()">
        <div id="sprememba" class="zg"></div>
        <div id="spremembaa" class="sr"></div>
        <div id="spremembaaa" class="sp"></div>
    </div>


    <!-- main content -->
    <main class="jumbotron normal-page-con">
        
		<div class="back mob-disp" onclick="history.back()"><img alt="back-icon" src="{{alias('@web') }}/img/puscica-levo.svg">back</div>
        <div style="margin-top:42px;" class="content">
            <!-- DYNAMIC CONTENT HERE FROM CMS style and images are pulled as well -->

             {{ entry.richText }}

        </div>

        {% endblock %}
    </main>

{% include "footer.twig" %}
