<!DOCTYPE html>
<html lang="sl">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}
		
		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.css">

	</head>

	<body>

		<!-- navbar -> for this page bg image is not needed-->
		<header class="events-bg">
			<div class="navbar navbar-parallax" id="fade-out">

				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/sl/"><img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png"></a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="novice">ZAPISKI IN ZGODBE</a>
					<a class="link hover" href="dogodki">KOLEDAR DOGODKOV</a>
					<a class="link hover" href="projects">PROJEKTI</a>
					<a class="link hover" href="about">O NAS</a>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">

			<a href="novice">ZAPISKI IN ZGODBE</a>
			<a href="dogodki">KOLEDAR DOGODKOV</a>
			<a href="projects">PROJEKTI</a>
			<a href="about">O NAS</a>
			<spn class="mobile-lan">
				<span><a style="display:inline;" href="{{alias('@web') }}/sl/">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}">
					EN</a></span>
			</spn>

		</nav>


		<!-- hamburger menu-->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>


		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
        .section('events')
        .limit(30) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{# Display the entries #}

		<!-- event cards, cards can be repeated. Bundle together 3 events in a row div -->
		<main class="jumbotron events-jumbo">
			<h3 class="head-events">Prihajajoči dogodki</h3>

			<!-- events are cards that position themselves automatically. request them more from server if needed-->
			{% set count = 0 %}

			<div class="row event-cards">
				{% for entry in entries %}
					{% set count = count + 1 %}

					{% set slika = entry.slika.one %}
					<section class="col-lg {% if count > 6 %}disc-more displayNone{% endif %}">
						<a href="{{ entry.slug }}">
							<img alt="{{ entry.altText }}" src="{{ slika.url }}" class="event-img">
						</a>

						<div>
							<span>{{ entry.date|date("d/m/Y") }},
								{{ entry.place }}</span>
							<a style="text-decoration:none;" href="{{ entry.slug }}">
							<h4>{{ entry.title }}</h4>
							</a>
							<a class="notes-link" style="position: relative;" href="{{ entry.slug }}">
								<img alt="Preberi več" src="{{alias('@web') }}/img/Vectorevents.png">PREBERI VEČ
							</a>
						</div>

					</section>
				{% endfor %}
			</div>
		</main>

		<!-- more button -->
		{% if count > 5 %}
			<div class="discover" onclick="discMore()">
				<img alt="Odpri več" style="width:70px;" src="{{alias('@web') }}/img/plus.svg">ODPRI VEČ
			</div>
		{% endif %}
{% include "footer-sl" %}