<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}
		
		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.min.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.min.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.min.css">
	
	</head>

	<body>

		<!-- navbar -> for this page bg image is not needed-->
		<header class="events-bg">
			<div class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/en/">
							<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projects">Projects</a>
					<a class="link hover" href="notes">Stories & Postcards</a>
					<a class="link hover" href="events">Event Calendar</a>
					<a class="link hover" href="about">About</a>
					<lan class="nav-lan">
						<a href="{{alias('@web') }}">
							SL
						</a>
						/
						<a class="chosen" href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">

			<a href="projects">Projects</a>
			<a href="notes">Stories & Postcards</a>
			<a href="events">Event Calendar</a>
			<a href="about">About</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

		<!-- hamburger menu-->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>


		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
        .section('events')
        .limit(30) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{% set date = craft.app.request.getQueryParam('date') %}
		{% set type = craft.app.request.getQueryParam('type') %}
		{% set loc = craft.app.request.getQueryParam('loc') %}
		{# Display the entries #}

		<!-- event cards, cards can be repeated. Bundle together 3 events in a row div -->
		<main class="jumbotron events-jumbo">
			<h3 class="head-events" style="display:inline-block">Upcoming Events</h3>
			<form class="configurator" method="get">

				<select id="mySelect" name="date" value="{{date}}" onchange="this.form.submit()" class="form-select form-select-lg events-form" aria-label="Default">

					<option class="conf-meni-option" value="" disabled selected hidden>month</option>
					<option class="conf-meni-option" value="">all</option>
					{% set existingDates = [] %}
					{% for entry in entries %}
						{% if entry.date|date("mm") not in existingDates and ("now"|date('Y-m-d') <= entry.date|date('Y-m-d'))%}
						 {% set existingDates = existingDates|merge([entry.date|date("mm")]) %}
							{% if entry.date|date("mm") == date %}
							<option class="conf-meni-option" value="{{ entry.date|date("mm") }}" selected>{{ entry.date|date("mm") }}</option>
						{% else %}
							<option class="conf-meni-option" value="{{ entry.date|date("mm") }}">{{ entry.date|date("mm") }}</option>
						{% endif %}
						{% endif %}
							
					{% endfor %}

				</select>

				<select id="mySelect_type" name="type" onchange="this.form.submit()" class="form-select form-select-lg events-form" aria-label="Default select example">
					<option class="conf-meni-option" value="" disabled selected hidden>event type</option>
					<option class="conf-meni-option" value="">all</option>
					<option class="conf-meni-option" value="others">others</option>
					<option class="conf-meni-option" value="workshop">workshop</option>
					<option class="conf-meni-option" value="live">live</option>
					<option class="conf-meni-option" value="festival">festival</option>
					<option class="conf-meni-option" value="screening">screening</option>
					<option class="conf-meni-option" value="gaming">gaming</option>
				</select>

				<select id="mySelect" name="loc" onchange="this.form.submit()" value="1. loc" class="form-select form-select-lg events-form" aria-label="Default select example">

					<option class="conf-meni-option" value="" disabled selected hidden>location</option>
					<option class="conf-meni-option" value="">all</option>

					{% set existingPlaces = [] %}
					{% for entry in entries %}
					{% if entry.place not in existingPlaces %}
						 {% set existingPlaces = existingPlaces|merge([entry.place]) %}
						{% if entry.place == loc %}
							<option class="conf-meni-option" value="{{ entry.place }}" selected>{{ entry.place }}</option>
						{% else %}
							<option class="conf-meni-option" value="{{ entry.place }}">{{ entry.place }}</option>
						{% endif %}
						{% endif %}
					{% endfor %}

				</select>
		</form>

			<!-- events are cards that position themselves automatically. request them more from server if needed-->
		{% set count = 0 %}

			<div class="row event-cards">
				{% for entry in entries %}
				{% if (entry.date|date("mm") == date or date == "") and (entry.place == loc or loc == "") and (entry.tipDogodka == type or type == "") and ("now"|date('Y-m-d') <= entry.date|date('Y-m-d')) %}
					{% set count = count + 1 %}

					{% set slika = entry.slika.one %}
					<div class="col-lg event-col{% if count > 6 %} disc-more displayNone{% endif %}">
						<a href="{{ entry.slug }}">
							<img alt="{{ entry.altText }}" src="{{ slika.url }}" class="event-img">
						</a>

						<div>
							<a style="text-decoration:none;" href="{{ entry.slug }}">
							<h4>{{ entry.title }}</h4>
							</a>
							<span>
								{{ entry.date|date("D d/m/Y") }},
								{{ entry.time|date("H:i") }},
								{{ entry.place }}
							</span>
							{# <a class="notes-link" style="position: relative;" href="{{ entry.slug }}">
								<img alt="Learn more" style="transform: translate(0px,0)!important;" src="{{alias('@web') }}/img/Vectorevents.svg">PREBERI VEČ
							</a> #}
						</div>

					</div>
				{% endif %}
				{% endfor %}
        		{% if count == 2 %}
					<div class="col-lg event-col dummy">
					</div>
				{% endif %}
			</div>
			<!-- more button -->
        {% if count > 6 %}
		<a class="discover btn-discover" style="margin:0;"  onclick="discMore()">discover more</a>
        {% endif %}
		</main>

		
{% include "footer.twig" %}