		<!-- footer -->
		<footer class="row gen-leg">

			<!---desktop footer-->
			<address class="col-md-2 contact desktop-footer">
				<p>KONTAKTIRAJTE NAS</p>

				<a target="_blank" href="mailto:info@kinoklub.si">info@kinoklub.si</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="https://goo.gl/maps/pvb5CryXmS3NckNF9">Cesta svobode 12a, 4260 Bled</a>

			</address>

			<div class="col-md-1 socials desktop-footer">
				<p>SLEDITE NAM</p>
				<a href="https://www.instagram.com/kinoklub___/"><img alt="Instagram" src="{{alias('@web') }}/img/Vectorinsta.svg"></a>
				<a href="https://www.facebook.com/kinokluborg/"><img alt="Facebook" style="margin-left: 17px;" src="{{alias('@web') }}/img/Vectorfb.png"></a>
			</div>

			<div class="col-md-6 more desktop-footer">
				{# @var craft \craft\web\twig\variables\CraftVariable #}
				{# @var newsletterForm \juban\newsletter\models\NewsletterForm #}

					{% if craft.app.plugins.plugin('newsletter') is not null %}
						{# If there were any validation errors, a `newsletterForm` variable will be passed to the template, which contains the posted values and validation errors. If that’s not set, we’ll default to a new newsletterForm. #}
						{% set newsletterForm = newsletterForm ?? create('juban\\newsletter\\models\\NewsletterForm') %}

						{# success notification #}
							{% if success is defined and success %}
								<div role="alert"> <p>{{ 'Your newsletter subscription has been taken into account. Thank you.'|t }}</p>
							</div>
						{% endif %}

						<form action="" method="post" accept-charset="UTF-8">
							<p>ŽELITE VEČ</p>
							{{ csrfInput() }}

							{# Subscription process is handled by the newsletter plugin controller #}
							{{ actionInput('newsletter/newsletter/subscribe') }}

							{# User will be redirected to the redirect input url upon successful subscription #}
							{{ redirectInput('?thanks') }}

							<label for="newsletter-consent">
								<input style="display: none;" type="checkbox" value="check" name="consent" id="newsletter-consent" checked {% if newsletterForm.hasErrors('consent') %} aria-invalid="true" aria-describedby="consent-error" {% endif %}>
								{{''|t}}
							</label>
							{% if newsletterForm.hasErrors('consent') %}
								<div id="consent-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('consent') }}</div>
							{% endif %}

							<label for="newsletter-email">{{ ''|t }}<span aria-hidden="true"></span>
							</label>
							<input id="newsletter-email" required name="email" type="email" placeholder="Email Naslov" value="{{ newsletterForm.email }}" {% if newsletterForm.hasErrors('email') %} aria-invalid="true" aria-describedby="email-error" {% endif %}>

							{% if newsletterForm.hasErrors('email') %}
								<div id="email-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('email') }}</div>
							{% endif %}

							<input type="submit" value="Pošlji">{{ ''|t }}</input>

						</form>
					{% endif %}
				<span>Kino Klub je projekt Zavoda Aspekt. ©2022</span>

			</div>


			<!---mobile footer-->
			<div class="more mobile-footer">
				{# @var craft \craft\web\twig\variables\CraftVariable #}
				{# @var newsletterForm \juban\newsletter\models\NewsletterForm #}

				{% if craft.app.plugins.plugin('newsletter') is not null %}
					{# If there were any validation errors, a `newsletterForm` variable will be passed to the template, which contains the posted values and validation errors. If that’s not set, we’ll default to a new newsletterForm. #}
					{% set newsletterForm = newsletterForm ?? create('juban\\newsletter\\models\\NewsletterForm') %}

					{# success notification #}
						{% if success is defined and success %}
							<div role="alert"> <p>{{ 'Your newsletter subscription has been taken into account. Thank you.'|t }}</p>
						</div>
					{% endif %}

					<form action="" method="post" accept-charset="UTF-8">
						<p>ŽELITE VEČ</p>
						{{ csrfInput() }}

						{# Subscription process is handled by the newsletter plugin controller #}
						{{ actionInput('newsletter/newsletter/subscribe') }}

						{# User will be redirected to the redirect input url upon successful subscription #}
						{{ redirectInput('?thanks') }}

						<label for="newsletter-consent">
							<input style="display: none;" type="checkbox" value="check" name="consent" id="newsletter-consent" checked {% if newsletterForm.hasErrors('consent') %} aria-invalid="true" aria-describedby="consent-error" {% endif %}>
							{{''|t}}
						</label>
						{% if newsletterForm.hasErrors('consent') %}
							<div id="consent-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('consent') }}</div>
						{% endif %}

						<label for="newsletter-email">{{ ''|t }}<span aria-hidden="true"></span>
						</label>
						<input id="newsletter-email" required name="email" type="email" placeholder="Email Naslov" value="{{ newsletterForm.email }}" {% if newsletterForm.hasErrors('email') %} aria-invalid="true" aria-describedby="email-error" {% endif %}>

						{% if newsletterForm.hasErrors('email') %}
							<div id="email-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('email') }}</div>
						{% endif %}

						<input type="submit" value="Pošlji">{{ ''|t }}</input>

					</form>
				{% endif %}
			</div>

			<div class="socials mobile-footer">
				<p>SLEDITE NAM</p>
				<a href="https://www.instagram.com/kinoklub___/"><img alt="Instagram" src="{{alias('@web') }}/img/Vectorinsta.svg"></a>
				<a href="https://www.facebook.com/kinokluborg/"><img alt="Facebook" style="margin-left: 17px;" src="{{alias('@web') }}/img/Vectorfb.png"></a>
			</div>
			<address class="contact mobile-footer">
				<p>KONTAKTIRAJTE NAS</p>
				<a target="_blank" href="mailto:info@kinoklub.si">info@kinoklub.si</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="https://goo.gl/maps/pvb5CryXmS3NckNF9">Cesta svobode 12a, 4260 Bled</a>
				<p class="leg-leg">Kino Klub je projekt Zavoda Aspekt. ©2022</p>
			</address>
		</footer>

	<script src="{{alias('@web') }}/js/script.js"></script>
	</body>
</html>
