<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- meta tags -->
		{% include "meta.twig" %}

		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.css?v=6">
		<style>
			{% set slika = entry.slika.one %}
			.bg-img-parallax {
				background-image: url({{slika.url}});
				background-size: cover;
			}
		</style>
	</head>


	<body>
		<!-- navbar + bg img-->
		<header class="bg-img-parallax">

			<div class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/en/">
							<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
					<nav class="navbar1-parallax">
						<a class="link hover" href="notes">NOTES AND STORIES</a>
						<a class="link hover" href="events">EVENT CALANDAR</a>
						<a class="link hover" href="projects">PROJECTS</a>
						<a class="link hover" href="about">ABOUT</a>
					</nav>

			</div>

			<!-- next events info section -->
			<section class="next-events">

				<img alt="Next events" src="{{alias('@web') }}/img/next-events.png">

				<h4>

					{% set myEntryQuery = craft.entries()
					.section('events')
					.limit(4) %}

					{# Fetch the entries #}
					{% set events = myEntryQuery.all() %}
					{# Display the entries #}
					{% for event in events %}

						<a class="hover" href="{{ event.slug }}">{{ event.title }}<span>{{ event.date|date("d/m")}}</span>
						</a>
					{% endfor %}

				</h4>

				<p>Kino Klub is a project of Aspekt Institute. ©2022</p>

			</section>

			<!-- language change -->
			<lan class="lan">
				<a href="{{alias('@web') }}">SL
				</a>/<a class="chosen" href="{{alias('@web') }}/en/">
					EN</a>
			</lan>
        <div class="overlayBox"></div>
		</header>

		<!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">

			<a href="notes">NOTES AND STORIES</a>
			<a href="events">EVENT CALANDAR</a>
			<a href="projects">PROJECTS</a>
			<a href="about">ABOUT</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

		<!-- hamburger menu -->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>
		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
        .section('notes')
        .limit(5) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{# Display the entries #}

		<!-- main content -->
		<main class="jumbotron landing-main"> 
			{% for entry in entries %}
				{% set slika = entry.slika.one %}
				{% if (loop.index is odd) %}

					<section class="row">

						<div class="col-xl-8">
							<span class="category mobile-display">{{ entry.category }}</span>
							<a href="{{ entry.slug }}">

								<img alt="{{ entry.altText }}" loading="lazy" class="note-img" src="{{ slika.url }}"></a>
						</div>

						<div class="col-xl-4 title">
							<span class="category desktop-display">{{ entry.category }}</span>
							<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
							<a class="notes-link" href="{{ entry.slug }}"><img alt="Read more" src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a>
						</div>

					</section>

				{% endif %}

				{% if (loop.index is even) %}
					<section class="row reverse">

						<div class="col-xl-4 title">
							<span class="category desktop-display">{{ entry.category }}</span>
							<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
							<a class="notes-link" href="{{ entry.slug }}"><img alt="Read more" src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a>
						</div>

						<div class="col-xl-8">
							<span class="category mobile-display">{{ entry.category }}</span>

							<a href="{{ entry.slug }}"><img alt="{{ entry.altText }}" loading="lazy" class="note-img" style="float: right" src="{{ slika.url }}"></a>
						</div>

					</section>
				{% endif %}
			{% endfor %}
		</main>
{% include "footer.twig" %}