<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}

		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.css?v=2">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css?v=52">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.css?v=2">
	</head>

	<body>

		<!-- navbar + bg img-->
		<header class="events-bg">
			<div class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/en/">
							<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projects">Projects</a>
					<a class="link hover" href="notes">Stories & Postcards</a>
					<a class="link hover" href="events">Event Calendar</a>
					<a class="link hover" href="about">About</a>
					<lan class="nav-lan">
						<a href="{{alias('@web') }}">
							SL
						</a>
						/
						<a class="chosen" href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">

			<!--<a href="notes">NOTES AND STORIES</a>-->
			<a href="projects">Projects</a>
			<a href="notes">Stories & Postcards</a>
			<a href="events">Event Calendar</a>
			<a href="about">About</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

		<!-- hamburger menu -->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>

		<!-- configuration menu desktop-->
		<nav class="config">

			{# <span>NOTES AND STORIES</span> #}

			<a class="conf-meni-item active" value="ALL" href="?">all</a>
			<a class="conf-meni-item" value="postcards" href="?cat=postcards">postcards</a>
			<a class="conf-meni-item" value="articles" href="?cat=articles">articles</a>
			<a class="conf-meni-item" value="video" href="?cat=video">video</a>

		</nav>
		{% set search = craft.app.request.getQueryParam('search') %}

		<form method="get" class="search-form mx-auto">
			<input class="search" id="search" name="search" type="text" placeholder="search..." value="{{search}}" />
			<input type="submit" hidden />
		</form>

		<!-- configuration menu mobile-->
		<select id="mySelect" onchange="onchange=window.location=this.value" class="form-select form-select-lg mx-auto" style="width: 333px;" aria-label="Default select example">

			<option class="conf-meni-option" value="?cat=">all</option>
			<option class="conf-meni-option" value="?cat=postcards">postcards</option>
			<option class="conf-meni-option" value="?cat=articles">articles</option>
			<option class="conf-meni-option" value="?cat=video">video</option>

		</select>

		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
    .section('notes')
	.search(search)
    .limit(25) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{# Display the entries #}

		<!-- main content -->
		{% set count = 0 %}
			<main style="padding-top:0;"class="jumbotron landing-main"> {% for entry in entries %}
				{% set cat = craft.app.request.getParam('cat') %}
				{% if cat == '' or cat == entry.category %}
					{% set count = count + 1 %}
					{% set slika = entry.slika.one %}

					{% if (count is odd) %}
						<section class="row {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-8">
								{# <span class="category mobile-display">{{ entry.category }}</span> #}
								<a href="{{ entry.slug }}">

									<img alt="{{ entry.altText }}" loading="lazy" class="note-img" src="{{ slika.url }}"></a>
							</div>

							<div class="col-xl-4 title">
								<span class="category">{{ entry.category }}, {{entry.postDate|date("d/m/y")}}</span>
								<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
								{# <a class="notes-link" href="{{ entry.slug }}"><img alt="Read more" src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a> #}
							</div>

						</section>
					{% endif %}

					{% if (count is even) %}
						<section class="row reverse {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-4 title">
								<span class="category">{{ entry.category }}, {{entry.postDate|date("d/m/y")}}</span>
								<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
								{# <a class="notes-link" href="{{ entry.slug }}"><img alt="Read more" src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a> #}
							</div>

							<div class="col-xl-8">
								{# <span class="category mobile-display">{{ entry.category }}</span> #}

								<a href="{{ entry.slug }}"><img alt="{{ entry.altText }}" loading="lazy" class="note-img" style="float: right" src="{{ slika.url }}"></a>
							</div>

						</section>
					{% endif %}
				{% endif %}
			{% endfor %}

		</main>

		<!-- more button -->
        {% if count > 5 %}
		<a class="discover btn-discover" onclick="discMore1()">discover more</a>

			{# <img alt="Discover more" style="width:70px;" src="{{alias('@web') }}/img/plus.svg">DISCOVER MORE #}
        {% endif %}
{% include "footer.twig" %}