<!doctype html>
<html lang="en">

	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<title>Kino Klub | Notes & Stories</title>
		<meta name="description" content="A community of fellow motion picture lovers. Join us.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Facebook Meta Tags
						                <meta property="og:image:height" content="1005">
						                <meta property="og:image:width" content="1200">
						                <meta property="og:title" content="Kino Klub">
						                <meta property="og:description" content="A community of fellow motion picture lovers. Join us.">
						                <meta property="og:image" content="https://copandrej.github.io/kinoklub/img/og-image.png">
						                <meta property="og:url" content="https://kinoklub.si">-->

		<!-- Twitter Meta Tags
						                <meta name="twitter:card" content="summary_large_image">
						                <meta property="twitter:image:height" content="1005">
						                <meta property="twitter:image:width" content="1200">
						                <meta property="twitter:domain" content="kinoklub.si">
						                <meta property="twitter:url" content="https://kinoklub.si">
						                <meta name="twitter:title" content="Kino Bled">
						                <meta name="twitter:description" content="A community of fellow motion picture lovers. Join us.">
						                <meta name="twitter:image" content="https://copandrej.github.io/kinoklub/img/og-image.png">-->

		<!--  All different favicons/icons/bookmark icons...-->
		<link rel="apple-touch-icon" sizes="180x180" href="{{alias('@web') }}/apple-touch-icon.png"> <link rel="icon" type="image/png" sizes="32x32" href="{{alias('@web') }}/favicon-32x32.png">
		<link
		rel="icon" type="image/png" sizes="16x16" href="{{alias('@web') }}/favicon-16x16.png">
		<!--<link rel="manifest" href="site.webmanifest">-->
		<link rel="mask-icon" href="{{alias('@web') }}/safari-pinned-tab.svg" color="#ffffff">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="theme-color" content="#000000">
		<!--<link rel="icon" type="image/svg+xml" href="{{alias('@web') }}/favicon.svg">-->

		<!-- Styles -->
		<link rel="stylesheet" href="{{alias('@web') }}/style/normalize.css"> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{{alias('@web') }}/style/style.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.css">
	</head>

	<body>

		<!-- navbar + bg img-->
		<div class="events-bg">
			<div
				class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}"><img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png"></a>
				</h1>

				<!-- navbar desktop -->
				<div class="navbar1-parallax">
					<a class="link hover" href="notes">NOTES AND STORIES</a>
					<a class="link hover" href="events">EVENT CALANDAR</a>
					<a class="link hover" href="projects">PROJECTS</a>
					<a class="link hover" href="about">ABOUT</a>
				</div>

			</div>
		</div>

		<!-- navbar mobile -->
		<div id="mobile-meni" class="mobile-meni display-none">

			<a href="notes">NOTES AND STORIES</a>
			<a href="events">EVENT CALANDAR</a>
			<a href="projects">PROJECTS</a>
			<a href="about">ABOUT</a>
			<spn class="mobile-lan">
				<span><a style="display:inline;" href="{{alias('@web') }}/sl/">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}">
					EN</a></span>
			</spn>

		</div>

		<!-- hamburger menu -->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>

		<!-- configuration menu desktop-->
		<div class="config">

			<span>NOTES AND STORIES</span>

			<a class="conf-meni-item active" value="ALL" href="?">ALL</a>
			<a class="conf-meni-item" value="NOTES AND STORIES" href="?cat=NOTES AND STORIES">NOTES AND
												                        STORIES</a>
			<a class="conf-meni-item" value="ARTICLES" href="?cat=ARTICLES">ARTICLES</a>
			<a class="conf-meni-item" value="PODCASTS" href="?cat=PODCASTS">PODCASTS</a>

		</div>

		<!-- configuration menu mobile-->
		<select id="mySelect" onchange="onchange=window.location=this.value" class="form-select form-select-lg mx-auto" style="width: 333px;" aria-label="Default select example">

			<option class="conf-meni-option" value="?cat=">ALL</option>
			<option class="conf-meni-option" value="?cat=NOTES AND STORIES">NOTES AND STORIES</option>
			<option class="conf-meni-option" value="?cat=ARTICLES">ARTICLES</option>
			<option class="conf-meni-option" value="?cat=PODCASTS">PODCASTS</option>

		</select>

		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
    .section('notes')
    .limit(25) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{# Display the entries #}

		<!-- main content -->
		{% set count = 0 %}
			<div class="jumbotron landing-main"> {% for entry in entries %}
				{% set cat = craft.app.request.getParam('cat') %}
				{% if cat == '' or cat == entry.category %}
					{% set count = count + 1 %}
					{% set slika = entry.slika.one %}

					{% if (count is odd) %}
						<div class="row {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-8">
								<span class="category mobile-display">{{ entry.category }}</span>
								<a href="{{ entry.slug }}">

									<img loading="lazy" class="note-img" src="{{ slika.url }}"></a>
							</div>

							<div class="col-xl-4 title">
								<span class="category desktop-display">{{ entry.category }}</span>
								<h3 class="title">
									{{ entry.title }}
								</h3>
								<a class="notes-link" href="{{ entry.slug }}"><img src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a>
							</div>

						</div>
					{% endif %}

					{% if (count is even) %}
						<div class="row reverse {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-4 title">
								<span class="category desktop-display">{{ entry.category }}</span>
								<h3 class="title">
									{{ entry.title }}
								</h3>
								<a class="notes-link" href="{{ entry.slug }}"><img src="{{alias('@web') }}/img/Vectorvec.svg">READ MORE</a>
							</div>

							<div class="col-xl-8">
								<span class="category mobile-display">{{ entry.category }}</span>

								<a href="{{ entry.slug }}"><img loading="lazy" class="note-img" style="float: right" src="{{ slika.url }}"></a>
							</div>

						</div>
					{% endif %}
				{% endif %}
			{% endfor %}

		</div>

		<!-- more button -->
        {% if count > 5 %}
		<div class="discover" onclick="discMore()">
			<img style="width:70px;" src="{{alias('@web') }}/img/plus.svg">DISCOVER MORE
		</div>
        {% endif %}

		<!-- footer -->
		<footer
			class="row gen-leg">

			<!---desktop footer-->
			<div class="col-md-2 contact desktop-footer">
				<p>GET IN TOUCH</p>

				<a target="_blank" href="mailto:info@kinoklub.si">info@kinoklub.si</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="https://goo.gl/maps/pvb5CryXmS3NckNF9">Cesta svobode 12a, 4260 Bled</a>

			</div>

			<div class="col-md-1 socials desktop-footer">
				<p>FOLLOW</p>
				<a href="https://www.instagram.com/kinoklub___/"><img src="{{alias('@web') }}/img/Vectorinsta.svg"></a>
				<a href="https://www.facebook.com/kinokluborg/"><img style="margin-left: 17px;" src="{{alias('@web') }}/img/Vectorfb.png"></a>
			</div>

			<div class="col-md-6 more desktop-footer">
				<form>
					<p>WANT MORE FROM KINO KLUB?</p>
					<input type="email" placeholder="Email Address" required>
					<input type="submit" value="Submit">
				</form>
				<span>Kino Klub is a project of Aspekt Institute. ©2022</span>

			</div>


			<!---mobile footer-->
			<div class="more mobile-footer">
				<form>
					<p>WANT TO KNOW MORE</p>
					<input type="email" placeholder="Email Address" required>
					<input type="submit" value="Submit">
				</form>
			</div>

			<div class="socials mobile-footer">
				<p>FOLLOW</p>
				<a href="https://www.instagram.com/kinoklub___/"><img src="{{alias('@web') }}/img/Vectorinsta.svg"></a>
				<a href="https://www.facebook.com/kinokluborg/"><img style="margin-left: 17px;" src="{{alias('@web') }}/img/Vectorfb.png"></a>
			</div>

			<div class="contact mobile-footer">
				<p>GET IN TOUCH</p>
				<a target="_blank" href="mailto:info@kinoklub.si">info@kinoklub.si</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="tel:(+386) 41 677 889">(+386) 41 677 889</a>
				<a target="_blank" href="https://goo.gl/maps/pvb5CryXmS3NckNF9">Cesta svobode 12a, 4260 Bled</a>
				<p class="leg-leg">Kino Klub is a project of Aspekt Institute. ©2022</p>
			</div>

		</footer>

		<!-- jqerry url for configurator and ajax
						            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
		<script src="{{alias('@web') }}/js/conf.js"></script>
		<script src="{{alias('@web') }}/js/fade-out.js"></script>

	</body>
</html>
