<!DOCTYPE html>
<html lang="sl">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}
		
		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.css?v=2.1">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css?v=52">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.css?v=12.1">
	</head>

	<body>

		<!-- navbar + bg img-->
		<header class="events-bg">
			<div
				class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/">
						<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projekti">Projekti</a>
					<a class="link hover" href="novice">Zgodbe</a>
					<a class="link hover" href="dogodki">Koledar dogodkov</a>
					<a class="link hover" href="about">O nas</a>
					<lan class="nav-lan">
						<a class="chosen"  href="{{alias('@web') }}">
							SL
						</a>
						/
						<a href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav id="mobile-meni" class="mobile-meni display-none">	
			<a href="projekti">Projekti</a>
			<a href="novice">Zgodbe</a>
			<a href="dogodki">Koledar dogodkov</a>
			<a href="about">O nas</a>
			<spn class="mobile-lan">
				<span><a style="display:inline;" href="{{alias('@web') }}/">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
					EN</a></span>
			</spn>

		</nav>

		<!-- hamburger menu -->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>

		<!-- configuration menu desktop-->
		<nav class="config">

			{# <span>NOTES AND STORIES</span> #}

			<a class="conf-meni-item active" value="ALL" href="?">vsi</a>
			<a class="conf-meni-item" value="postcards" href="?cat=postcards">kartice</a>
			<a class="conf-meni-item" value="articles" href="?cat=articles">članki</a>
			<a class="conf-meni-item" value="video" href="?cat=video">video</a>

		</nav>
		{% set search = craft.app.request.getQueryParam('search') %}

		<form method="get" class="search-form mx-auto">
			<input class="search" id="search" name="search" type="text" placeholder="išči" value="{{search}}" />
			<input type="submit" hidden />
		</form>

		<!-- configuration menu mobile-->
		<select id="mySelect" onchange="onchange=window.location=this.value" class="form-select form-select-lg mx-auto" style="width: 333px;" aria-label="Default select example">

			<option class="conf-meni-option" value="?cat=">vsi</option>
			<option class="conf-meni-option" value="?cat=postcards">kartice</option>
			<option class="conf-meni-option" value="?cat=articles">članki</option>
			<option class="conf-meni-option" value="?cat=video">video</option>

		</select>

		{# Create an entry query with the 'section' and 'limit' parameters #}
		{% set myEntryQuery = craft.entries()
		.section('notes')
		.search(search)
		.limit(25) %}

		{# Fetch the entries #}
		{% set entries = myEntryQuery.all() %}
		{# Display the entries #}

		<!-- main content -->
		{% set count = 0 %}
			<main style="padding-top:0;"class="jumbotron landing-main"> {% for entry in entries %}
				{% set cat = craft.app.request.getParam('cat') %}
				{% if cat == '' or cat == entry.category %}
				{% if entry.category == 'postcards' %}
				{% set kateg = 'kartice' %}
				{% elseif entry.category == 'articles' %}
				{% set kateg = 'članki' %}
				{% elseif entry.category == 'video' %}
				{% set kateg = 'video' %}
				{% endif %}

					{% set count = count + 1 %}
					{% set slika = entry.slika.one %}

					{% if (count is odd) %}
						<section class="row {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-8">
								{# <span class="category mobile-display">{{ kateg }}</span> #}
								<a href="{{ entry.slug }}">

									<img alt="{{ entry.altText }}" loading="lazy" class="note-img" src="{{ slika.url }}"></a>
							</div>

							<div class="col-xl-4 title">
								<span class="category">{{ kateg }}, {{entry.postDate|date("d/m/y")}}</span>
								<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
								{# <a class="notes-link" href="{{ entry.slug }}"><img alt="Preberi več" src="{{alias('@web') }}/img/Vectorvec.svg">PREBERI VEČ</a> #}
							</div>

						</section>
					{% endif %}

					{% if (count is even) %}
						<section class="row reverse {% if count > 5 %}displayNone disc-more{% endif %}">

							<div class="col-xl-4 title">
								<span class="category">{{ kateg }}, {{entry.postDate|date("d/m/y")}}</span>
								<a style="text-decoration:none;" href="{{ entry.slug }}">
								<h3 class="title">
									{{ entry.title }}
								</h3>
							</a>
								{# <a class="notes-link" href="{{ entry.slug }}"><img alt="Preberi več" src="{{alias('@web') }}/img/Vectorvec.svg">PREBERI VEČ</a> #}
							</div>

							<div class="col-xl-8">
								{# <span class="category mobile-display">{{ kateg }}</span> #}

								<a href="{{ entry.slug }}"><img alt="{{ entry.altText }}" loading="lazy" class="note-img" style="float: right" src="{{ slika.url }}"></a>
							</div>

						</section>
					{% endif %}
				{% endif %}
			{% endfor %}

		</main>

		<!-- more button -->
		{% if count > 5 %}
					
			<a class="discover btn-discover" onclick="discMore1()">odpri več</a>

		{% endif %}
{% include "footer-sl" %}