<!DOCTYPE html>
<html lang="sl">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css?v=5">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.css?v=2">
		<style>
			{% block content %}
			{% set slika = entry.slika.one %}
			.bg-img-general {
				background-image: url({{slika.url}});
				background-size: cover;
			}
		</style>

		</head>

		<body>

			<!-- navbar -> for this page bg image is not needed-->
			<header class="bg-img-general">
				    <div class="navbar navbar-parallax" id="fade-out" style="background-color:transparent!important;">


					<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/">
						<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projekti">Projekti</a>
					<a class="link hover" href="novice">Zgodbe</a>
					<a class="link hover" href="dogodki">Koledar dogodkov</a>
					<a class="link hover" href="about">O nas</a>
					<lan class="nav-lan">
						<a class="chosen"  href="{{alias('@web') }}">
							SL
						</a>
						/
						<a href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav
			id="mobile-meni" class="mobile-meni display-none">

			<!--<a href="notes">NOTES AND STORIES</a>-->
			<a href="projekti">Projekti</a>
			<a href="novice">Zgodbe</a>
			<a href="dogodki">Koledar dogodkov</a>
			<a href="about">O nas</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

			<!-- hamburger menu-->
			<div class="knof" id="knof" onclick="anime()">
				<div id="sprememba" class="zg"></div>
				<div id="spremembaa" class="sr"></div>
				<div id="spremembaaa" class="sp"></div>
			</div>


			<!-- main content -->
			<main class="jumbotron normal-page-con">

				<p class="date">{{ entry.date|date("d / m") }}</p>
				<h2>{{ entry.title }}</h2>

				<!-- social share icons-->
				<span>SHARE</span>
				<a target="_blank" href="https://www.facebook.com/sharer.php?u={{entry.url}}"><img alt="Facebook ikona za deljenje" class="soc" style="padding: 10px;" src="{{alias('@web') }}/img/Vectorfb-black.svg"></a>
				<a target="_blank" style="margin-left: 20px;" href="https://twitter.com/share?url={{entry.url}}&text={{ entry.title }}&hashtags=kinoklub"><img alt="Twitter ikona za deljenje" class="soc" style="padding: 10px;" src="{{alias('@web') }}/img/Vectortwiter-black.svg"></a>
				<a target="_blank" style="margin-left: 20px;" href="mailto:?subject={{siteName}} | {{ entry.title }}&body=Check out this site:{{entry.url}}"><img alt="Email ikona za deljenje" class="soc" style="padding: 10px;" src="{{alias('@web') }}/img/Vectormail.svg"></a>

				<!-- content -->
				<article class="content">

					{{ entry.richText }}

				</article>

			</main>
		{% endblock %}
{% include "footer-sl" %}