<!DOCTYPE html>
<html lang="sl">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}

			<link rel="stylesheet" href="{{alias('@web') }}/style/normal.css">
			<link rel="stylesheet" href="{{alias('@web') }}/style/events.css">
			<style>
				{% block content %}
				{% set slika = entry.slika.one %}
				.bg-img-general {
					background-image: url({{slika.url}});
					background-size: cover;
				}
			</style>

		</head>

		<body>

			<!-- navbar -> for this page bg image is not needed-->
			<header class="bg-img-general">
				    <div class="navbar navbar-parallax" id="fade-out" style="background-color:transparent!important;">


					<h1>
						<a style="display: flex;" href="{{alias('@web') }}/sl/"><img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png"></a>
					</h1>

					<!-- navbar desktop -->
					<nav class="navbar1">
						<a class="link hover" href="novice">ZAPISKI IN ZGODBE</a>
						<a class="link hover" href="dogodki">KOLEDAR DOGODKOV</a>
						<a class="link hover" href="projects">PROJEKTI</a>
						<a class="link hover" href="about">O NAS</a>
					</nav>

				</div>
			</header>

			<!-- navbar mobile -->
			<nav id="mobile-meni" class="mobile-meni display-none">

				<a href="novice">ZAPISKI IN ZGODBE</a>
				<a href="dogodki">KOLEDAR DOGODKOV</a>
				<a href="projects">PROJEKTI</a>
				<a href="about">O NAS</a>
				<spn class="mobile-lan">
				<span><a style="display:inline;" href="{{alias('@web') }}/sl/">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}">
					EN</a></span>
			</spn>

			</nav>

			<!-- hamburger menu-->
			<div class="knof not-fixed" onclick="anime()">
				<div id="sprememba" class="zg"></div>
				<div id="spremembaa" class="sr"></div>
				<div id="spremembaaa" class="sp"></div>
			</div>


			<!-- main content -->
			<main class="jumbotron normal-page-con">

				<p class="pt-5">LJUBLJANA , SLOVENIA</p>
				<h2>{{entry.naslov}}</h2>

				<article class="content">

				{{ entry.richText }}

				</article>

		{% endblock %}
		</main>
{% include "footer-sl" %}