<!DOCTYPE html>
<html lang="sl">

	<head>
		<!-- meta tags -->
		{% include "meta.twig" %}
		
		<link rel="stylesheet" href="{{alias('@web') }}/style/landing.min.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/normal.min.css">
		<link rel="stylesheet" href="{{alias('@web') }}/style/events.min.css">
	</head>

	<body>

		<!-- navbar + bg img-->
		<header class="events-bg">
			<div
				class="navbar navbar-parallax" id="fade-out">

				<!-- logo -->
				<h1>
					<a style="display: flex;" href="{{alias('@web') }}/">
						<img alt="Kino Klub" class="logo" src="{{alias('@web') }}/img/KK-LOGO.png">
					</a>
				</h1>

				<!-- navbar desktop -->
				<nav class="navbar1-parallax">
					<a class="link hover" href="projekti">Projekti</a>
					<a class="link hover" href="novice">Zgodbe</a>
					<a class="link hover" href="dogodki">Koledar dogodkov</a>
					<a class="link hover" href="about">O nas</a>
					<lan class="nav-lan">
						<a class="chosen"  href="{{alias('@web') }}">
							SL
						</a>
						/
						<a href="{{alias('@web') }}/en/">
							EN
						</a>
					</lan>
				</nav>

			</div>
		</header>

		<!-- navbar mobile -->
		<nav
			id="mobile-meni" class="mobile-meni display-none">

			<!--<a href="notes">NOTES AND STORIES</a>-->
			<a href="projekti">Projekti</a>
			<a href="novice">Zgodbe</a>
			<a href="dogodki">Koledar dogodkov</a>
			<a href="about">O nas</a>
			<spn class="mobile-lan">
				<span>
					<a style="display:inline;" href="{{alias('@web') }}">SL</a>
				</span>/<span>
					<a style="display:inline;" href="{{alias('@web') }}/en/">
						EN</a>
				</span>
			</spn>

		</nav>

		<!-- hamburger menu -->
		<div class="knof" id="knof" onclick="anime()">
			<div id="sprememba" class="zg"></div>
			<div id="spremembaa" class="sr"></div>
			<div id="spremembaaa" class="sp"></div>
		</div>


		<main>
			<h3 class="project-title">Projekti</h3>
			<div class="jumbotron projects">
				<p class="proj-napis">Odkrijte nekaj projektov, za katere se zavzemamo. Projekti temeljijo na delu, ki ga opravljamo in smo ga opravljali v preteklosti in sedanjosti.</p>


				{% set myEntryQuery = craft.entries()
                .section('projects')
                .limit(25) %}
				{# Fetch the entries #}
				{% set entries = myEntryQuery.all() %}
				{# Display the entries #}

				<!-- main content -->
				{% set count = 0 %}
					{% for entry in entries %}
					{% set count = count + 1 %}

					{% set slika = entry.slika.one %}

						<div class="row project-row"> <a href="{{ entry.slug }}">
							<img alt="{{ entry.altText }}" src="{{ slika.url }}" class="project-img">
						</a>
						<a style="text-decoration:none;" href="{{ entry.slug }}">
							<h4>{{ entry.title }}</h4>
						</a>
						<p>{{ entry.opis }}</p>
						<a class="btn-discover r-more proj-more" href="{{ entry.slug }}">
							preberi več
						</a>
					</div>

                    {% endfor %}
				</div>

			</main>

			{% include "footer.twig" %}</body>
	</body>
</html>
